body, h1, h2 {
 font-family: monospace, prestige;
 font-size: 110%;
}
div.links {
 left:0;
 margin:0;
 position:fixed;
 right:0;
 top:0;
 text-decoration:none;
}
div.style {
 border-style:solid inset;
 border-width:4px;
 float:right;
 width:20px;
 cursor: pointer;
}
div.black {
 background:black;
 border: solid white ;
}
div.white {
 background:white;
 border: solid black;
}
a.link {
 margin-left: 2%;
 margin-right: 2%;
 font-size: 120%;
}
a {
 font-size: 120%;
}
table.layout {
  padding-top: 3%;

}
td.content {
 width:70%;
 border:none;
}
td.about_me {
 width:30%;
 border:none;
 left:auto;
 position:fixed;
 padding-top: 27px;
}
.content {
 padding-top: 40px;
}
.border {
 width:auto;
 height:auto;
 border-style:solid;
 border-width:3px;
}
.image{
 width:auto;
 height:auto;
} 
