body, h1, h2 {
 font-family: Arial monospace;
}
.pps {
font-size: 140%;
}
div.links {
 left:0;
 margin:0;
 position:fixed;
 right:0;
 top:0;
 text-decoration:none;
}
#facebook, #google_adsense, div.google_search {
 float:right;
 left:0;
}
div.style {
 border-style:solid inset;
 border-width:4px;
 float:right;
 width:20px;
 cursor: pointer;
}
div.black {
 background:black;
 border: solid white ;
}
div.white {
 background:white;
 border: solid black;
}
a.link {
 margin-left: 2%;
 margin-right: 2%;
}

.layout {
 width:100%;
 padding-top: 8%;
}
.content {
 width:70%;
}
.lateral{
 width:30%;
 float:right;
 padding-top:10px;
}
.google_search{
 padding:10px;
}

.border {
 width:auto;
 height:auto;
 border-style:solid;
 border-width:3px;
}

.image{
 width:auto;
 height:auto;
} 
.feedme{
 color:orange;
}
a.link { 
 text-decoration:none;
}
