body {
  background-color:#080808;
  color:#5fba3d;
}

div.links {
  border-color:#ccd9d8;
  background-color:#080808;
}



a {
  color:#5fba3d;
}

h2{
  color:#5fba3d;
}

li {
  background-color:#080808;
}

.redback{
    background-color:#d5381a;
    color:#080808;
}

.red{
    color:#d5381a;
}
.blue{
  color:#0034dc;
}

.blueback{
    background-color:#0034dc;
    color:#5fba3d;
}

.green{
  background-color:#5fba3d;
}
.greenback{
    background-color:#5fba3d;
    color:#080808;
}

.yellow, .post_date{
  color:#e5df43;
}
.yellowback{
  background-color:#e5df43;
  color:#d5381a;
}
.grey {
  color:#ffffff;
}
.greyback{
  background-color:#888888;
  color:#ffffff;
}

.greenback{
  background-color:green;
  color:black;
}

.border{
    border-color:#888888;
}

.white{
 color:white;
}

