body {
 background-color: #080808;
 color: SeaShell;
}
div.links {
 border-color:#ccd9d8;
 background-color:#080808;
}
.red{
 color:#d5381a;
}
.blue{
 color:#0034dc;
}
.green{
 color:green;
}
.orange{
 color:orange;
}
.yellow, .post_date{
 color:#e5df43;
}
.post{
 color: FloralWhite;
}
ul.posts {
 color: OrangeRed;
}
a.portfolio {
 color: coral;
}
a.curriculo {
 color: cyan;
}
a.home {
 color: yellow;
}
h1 {
 color: Yellow;
}
a {
 color: Cyan;
}
h2 {
 color: Chartreuse;
}
h3 {
 color: Orange;
}
.gbuzz {
 color: white;
}
