body {
 font-size: 16px;
 margin: 0;              /* Amount of negative space around the outside of the body */
 padding: 0;             /* Amount of negative space around the inside of the body */
 font-family: Helvetica;
}
a { 
 font-size: 18px;
}
#header h1 {
 margin: 0;
 padding: 0;
}
#header h1 a {
 font-size: 18px;
 font-weight: bold;
 padding: 5px 0;
 text-decoration: none;
}
table.layout {
  padding-top: 30px;
}
.content {
 padding-top: 30px;
}
td.content {
 width:100%;
 border:none;
}
span.post_date, td.about_me {
 display:none;
}
