 <p>Olá, meu nome é Jônatas Davi Paganini e esse é meu blog. Sou programador, tenho alguns projetos no <a href="https://github.com/jonatas">github</a> e escrevo
livremente <a href="/">aqui no ideia.me</a> e também escrevo posts mais técnicos no <a href="http://shipit.resultadosdigitais.com.br">Ship It</a>!</p>

<ul>
<li>Sou <a href="https://www.strava.com/athletes/12104550">ciclista</a> e levo uma <a href="/vida-de-bike">vida de bike</a> indo e voltando pro meu trabalho na <a href="http://resultadosdigitais.com.br">Resultados Digitais</a>.</li>
<li>Tenho um <a href="http://lorenzo.ideia.me">podcast com meu filho de 4 anos</a> e também organizo o <a href="http://soundcloud.com/rdshipit">CapyCast</a> na <a href="http://resultadosdigitais.com.br">RD</a>.</li>
<li>Meu twitter e gmail é o mesmo: <a href="https://twitter.com/jonatasdp">@jonatasdp</a>.</li>
<li>Encontre-me em algum <a href="http://www.meetup.com/members/185190193/">meetup</a> em Floripa! Sou assíduo no <a href="http://floripaonrails.com.br">FloripaOnRails</a> :)</li>
<li>Ou conecte-se via <a href="https://br.linkedin.com/in/jonatasdp">linkedin</a>/<a href="https://instagram.com/jonatasdp">instagram</a>/<a href="https://fb.com/jonatas.paganini">facebook</a>/<a href="http://soundcloud.com/jonatasdp">soundcloud</a>.</li>
</ul>

