<p>
  With 20+ years of experience, I specialize in database optimization, system architecture, and breaking down monoliths for large-scale applications.
  <br />
  <br />
  Currently Staff Engineer at <a href="https://www.baxenergy.com">Bax Energy</a>,  and former Developer Advocate at <a href="https://timescale.com">Timescale</a>. Check my <a href="/timescaledb-expert">expertise</a> in database performance
   and system architecture.
  <br />
</p>
<p>
  I'm also a <a href="/categories#community">community</a> builder, a <a href="https://www.strava.com/athletes/12104550">cyclist</a> and a permaculture enthusiast.
  <br />
  Check my
  <a href="/talks">talks</a> or connect with me via
  <a href="https://br.linkedin.com/in/jonatasdp" target="_blank">linkedin</a> or
  <a href="https://github.com/jonatas" target="_blank">github</a>.
</p>