<p>
  [pt-BR]
  <br />
  Olá, sou o Jônatas Davi Paganini e esse é meu blog. Sou programador, tenho alguns projetos no <a href="https://github.com/jonatas">github</a> e escrevo livremente <a href="/">aqui no ideia.me</a>.
  <br />
  [en]
  <br />
  Hello there, my name is Jônatas Davi Paganini and this is my blog. I'm
  developer and I have a few projects on <a href="https://github.com/jonatas">github</a>
  and I freely write <a href="/">here at ideia.me</a>.
</p>
<p>Check my
  <a href="/talks">talks</a> or connect via
  <a href="https://twitter.com/jonatasdp" target="_blank">twitter</a> /
  <a href="https://github.com/jonatas" target="_blank">github</a> /
  <a href="https://instagram.com/jonatasdp" target="_blank">instagram</a> /
  <a href="https://fb.com/jonatas.paganini" target="_blank">facebook</a> /
  <a href="https://br.linkedin.com/in/jonatasdp" target="_blank">linkedin</a> /
  <a href="http://soundcloud.com/jonatasdp" target="_blank">soundcloud</a> /
  <a href="https://www.strava.com/athletes/12104550" target="_blank">strava</a> /
  <a href="http://www.meetup.com/members/185190193/" target="_blank">meetup</a>.
</p>
