<div class="social-sharing mb-4">
  <h5>Share this article</h5>
  <div class="sharing-buttons">
    <a href="https://twitter.com/intent/tweet?text={{ page.title | url_encode }}&url={{ site.production_url | append: page.url | url_encode }}&via={{ site.author.twitter }}" 
       class="btn btn-twitter btn-sm" 
       target="_blank"
       rel="noopener noreferrer">
      <i class="bi bi-twitter"></i> Twitter
    </a>
    
    <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.production_url | append: page.url | url_encode }}" 
       class="btn btn-facebook btn-sm" 
       target="_blank"
       rel="noopener noreferrer">
      <i class="bi bi-facebook"></i> Facebook
    </a>
    
    <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.production_url | append: page.url | url_encode }}&title={{ page.title | url_encode }}" 
       class="btn btn-linkedin btn-sm" 
       target="_blank"
       rel="noopener noreferrer">
      <i class="bi bi-linkedin"></i> LinkedIn
    </a>
    
    <a href="https://reddit.com/submit?url={{ site.production_url | append: page.url | url_encode }}&title={{ page.title | url_encode }}" 
       class="btn btn-reddit btn-sm" 
       target="_blank"
       rel="noopener noreferrer">
      <i class="bi bi-reddit"></i> Reddit
    </a>
  </div>
</div> 