<html>
 <head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <link href="/atom.xml" rel="alternate" title="Ideia.me Jônatas!" type="application/atom+xml" />
  <title>{{ page.title }}</title>
  <meta name="viewport" content="user-scalable=no, width=device-width" />
  <link id="base" href="{{page.dirbase}}/css/base.css" type="text/css" rel="stylesheet" />
  <link rel="stylesheet" href="{{page.dirbase}}/css/iphone.css" media="only screen and (max-width: 480px)" type="text/css" />
  <link id="stylesheet_prettify" href="{{page.dirbase}}/prettify/prettify_black.css" type="text/css" rel="stylesheet" />
  <link id="stylesheet"href="{{page.dirbase}}/css/black.css" type="text/css" rel="stylesheet" />
  <script type="text/javascript" src="{{page.dirbase}}/prettify/prettify.js"></script>
  <meta name="google-site-verification" content="pEhVWERbmTGzsNq-acKyhMtjmxG2o5LUb6POdY0wBns" />
 <script src="http://www.google.com/jsapi?key=ABQIAAAArYOF4yKN2_Dpo42LXgneURRClFnncuL58ZPRE4fBeXHL_xpARBSaUxRW5VmjLu9VUsUxs_Lbc7TVew" type="text/javascript"></script>
<script type="text/javascript">
    /*
    *  How to load a feed via the Feeds API.
    */
    
    google.load("feeds", "1");
    
    // Our callback function, for when a feed is loaded.
    function feedLoaded(result) {
      if (!result.error) {
        // Grab the container we will put the results into
        var container = document.getElementById("gbuzz");
    
        // Loop through the feeds, putting the titles onto the page.
        // Check out the result object for a list of properties returned in each entry.
        // http://code.google.com/apis/ajaxfeeds/documentation/reference.html#JSON
        for (var i = 0; i < result.feed.entries.length; i++) {
          var entry = result.feed.entries[i];
          var buzz = document.createElement("div");
          var title = document.createElement("a");
          title.innerHTML = entry.title.replace(/Buzz by Jônatas Paganini from/g, "");   
          title.href = entry.link;
          var content = document.createElement("div");

          content.innerHTML = entry.content;
          buzz.setAttribute("class", "buzz-item");
          buzz.appendChild(title);
          buzz.appendChild(content);
          if (i < result.feed.entries.length-1){
            buzz.appendChild(document.createElement("hr"));
          }
          container.appendChild(buzz);
        }
      }
    }
    
    function OnLoad() {
      // Create a feed instance that will grab Digg's feed.
      var feed = new google.feeds.Feed("http://buzz.googleapis.com/feeds/jonatasdp/public/posted");
    
      // Calling load sends the request off.  It requires a callback function.
      feed.load(feedLoaded);
    }
    
    google.setOnLoadCallback(OnLoad);
    </script>
  </head>
  <body>
    <div class="links" id="header">
       <h1>
       <a href="/" class="link home">Home</a> 
       <a href="/atom.xml" id="feedme" class="link feedme">Feed-me</a>
       <a href="/portfolio/2010/02/01/portfolio.html" class="link portfolio">Portfólio</a> 
       <a href="/2010/04/27/curriculo-jonatas-davi-paganini.html" class="link curriculo">Currículo</a>
    
       <div onclick="changeStyleTo('black')" class="black style" title="Apagar a luz">&nbsp;</div>
       <div onclick="changeStyleTo('white')" class="white style" title="Acender a luz">&nbsp;</div>
       </h1>
       <pre class="prettyprint lang-ruby">{ :nome => "Jônatas Paganini", :email => %w(jonatasdp @ gmail.com), :telefone => "+55 46 9911 7879", :skype => "jonatas.paganini"} </pre>
  </div>
   <div class="layout" >
    <fieldset id="gbuzz" class="gbuzz"><legend>[Google Buzz]</legend></fieldset>
    <div class="content">
      {{ content }}
    </div>

{% if page.main == true %}
    {% for post in site.posts limit: 3 %}
    <a class="post" href="{{ post.url }}">
     <h1 class="post">{{ post.date | date_to_string }} &raquo; {{ post.title }}</h1>
    </a>
    {{ post.content }}
    {% endfor %}
{% endif %}
  <h1 class="post">Blog</h1>
  <ul class="posts">
{% if page.main == true %}
    {% for post in site.posts offset: 3 %}
    <li><span class="post_date">{{ post.date | date_to_string }}</span> &raquo; 
        <a class="post" href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
{% else %}
    {% for post in site.posts %}
    <li><span class="post_date">{{ post.date | date_to_string }}</span> &raquo; 
        <a class="post" href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
{% endif %}
  </ul>
  </body>
  <script type='text/javascript'>
    addEventListener('load', function (event) { prettyPrint(); payAttentionForFeedMe(); }, false);  
    function payAttentionForFeedMe(){
     link = document.getElementById("feedme");
     setTimeout(function(){ link.style.color = 'red'},    500);
     setTimeout(function(){ link.style.color = 'green'}, 1000);
     setTimeout(function(){ link.style.color = 'blue'},  1500);
     setTimeout(function(){ link.style.color = 'yellow'},2000);
     setTimeout(function(){ link.style.color = 'white'}, 2500);
     setTimeout(function(){ link.style.color = "orange"},3000);

    }
    function changeStyleTo(style) {
     document.getElementById('stylesheet').href = '{{page.dirbase}}/css/' + style + '.css';
     document.getElementById('stylesheet_prettify').href = '{{page.dirbase}}/prettify/prettify_' + style + '.css';
     
     prettyPrint();  
    }

    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
    try {
      var pageTracker = _gat._getTracker("UA-12893758-1");
      pageTracker._trackPageview();
     } catch(err) {}
  </script>
</html>
