<div class="page-header">
    <h1>
       <img class="thumb img-circle" src="{{ site.author.avatar }}" title="{{ site.author.name}}" alt="{{ site.author.name}} profile pic"></img>
       {{ page.title }} <small>{{ page.date |  | date: "%d/%m/%Y" }}
    {% if page.categories %}
      <span class="categories">
        {% for _category in page.categories %}
          <a  class="btn btn-primary" href=/categories.html#{{_category}}-ref>{{ _category }}
          {% for category in site.categories %}
            {% if _category == category[0] %}
            <span class="badge">{{ category | last | size }}</span>
            {% endif %}
          {% endfor %}
          </a>
         </span>
         {% endfor %}
       </span>
     {% endif %}
  </small></h1>
</div>
<div class="content">
    {{ content }}
</div>
  {% unless page.categories == empty %}
    <ul class="tag_box inline">
      <li><i class="icon-folder-open"></i></li>
      {% assign categories_list = page.categories %}
      {% include JB/categories_list %}
    </ul>
  {% endunless %}  
  {% unless page.tags == empty %}
    <ul class="tag_box inline">
      <li><i class="icon-tags"></i></li>
      {% assign tags_list = page.tags %}
      {% include JB/tags_list %}
    </ul>
  {% endunless %}  

    <hr>
    <div class="pagination">
      <ul>
      {% if page.previous %}
        <li class="prev"><a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; Anterior</a></li>
      {% else %}
        <li class="prev disabled"><a>&larr; Anterior</a></li>
      {% endif %}
        <li><a href="{{ BASE_PATH }}{{ site.JB.archive_path }}">Arquivo</a></li>
      {% if page.next %}
        <li class="next"><a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">Próximo &rarr;</a></li>
      {% else %}
        <li class="next disabled"><a>Próximo &rarr;</a>
      {% endif %}
      </ul>
    </div>
    <hr>
    {% include JB/comments %}
  </div>
</div>
