<div class="page-header">
    <h1>
       <img class="thumb img-circle" src="{{ site.author.avatar }}" title="{{ site.author.name}}" alt="{{ site.author.name}} profile pic"></img>
       {{ page.title }} <small><br/>{{ page.date | date: "%d/%m/%Y" }}
    {% if page.categories %}
      <span class="categories">
        {% for _category in page.categories %}
          <a  class="btn btn-primary" href=/categories.html#{{_category}}-ref>{{ _category }}
          {% for category in site.categories %}
            {% if _category == category[0] %}
            <span class="badge">{{ category | last | size }}</span>
            {% endif %}
          {% endfor %}
          </a>
         {% endfor %}
       </span>
     {% endif %}
     </small>
  </h1>
</div>
<div class="content">
    {{ content }}
</div>
<hr>
{% include JB/comments %}
<div class="share-page">
  Share &rarr;
  <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.production_url }}{{ page.url }}&via={{ site.author.twitter }}&related={{ site.author.twitter }}" rel="nofollow"title="Share on twitter">Twitter</a>
  <a href="https://facebook.com/sharer.php?u={{ site.production_url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Facebook">Facebook</a>
  <a href="https://www.linkedin.com/sharing/share-offsite/?url={{site.production_url}}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Linkedin">Linkedin</a>
</div>
<hr>
<div class="pagination">
    {% if page.previous %}
      <span class="prev">
        <a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{page.previous.title }}">&larr; Before</a>
      </span>
    {% else %}
    <span class="prev disabled"><a>&larr; Before</a></span>
    {% endif %}
    | <span><a href="{{ BASE_PATH }}{{ site.JB.archive_path }}">Archive</a></span> |
    {% if page.next %}
    <span class="next"><a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">Next &rarr;</a></span>
    {% else %}
    <span class="next disabled"><a>Next &rarr;</a>
    {% endif %}
</div>
<hr>
